#header {
    width: 100%;
    height: 100vh;
    background-image: url("../../components/images/showcase.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 0 20px;
    text-align: center;
  }
  
  .header_content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .header_content p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .gradient {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(20, 20, 19);
    background: linear-gradient(
      90deg,
      rgba(246, 174, 18, 1) 23%,
      rgba(244, 245, 16, 0.9220063025210083) 47%,
      rgba(255, 0, 69, 1) 100%
    );
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    background: linear-gradient(
      90deg,
      rgba(18, 12, 1, 0.5130427170868348) 0%,
      rgba(255, 255, 255, 1) 47%,
      rgba(0, 0, 0, 0.5494572829131652) 100%
    );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  

