.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    color: #fff;
    z-index: 999; 
}

.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.menu_list li{
    padding: 5px 50px;
}

.menu_list li:hover{
    background-color: #fff;
    color: #444;
}
